/* Root Variables */
:root {
    --theme-color-primary: #f8fafc;
    --neutral-medium: #f1f5f9;
}

/* Global Styles */
body {
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* Container Styles */
.container {
    max-width: 600px;
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    z-index: 1;
}

/* Microphone Styles */
.microphone {
    margin-top: 20px;
    cursor: pointer;
}

.microphone img {
    width: 50px;
    height: auto;
    cursor: pointer;
}

/* Media Container Styles */
.media-container {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}

.media-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.media-content.active {
    opacity: 1;
}

/* Navbar Styles */
.navbar {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: #007bff;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 30px;
    margin-right: 10px;
}

.navbar-nav .nav-link {
    color: #007bff;
}

.btn-outline-light {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-outline-light:hover {
    background-color: #0056b3;
    color: white;
}

/* Responsive Styles */
@media (max-width: 991px) {
    .navbar-collapse {
        background-color: white;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-top: 0.5rem;
    }

    .navbar-nav {
        width: 100%;
    }

    .nav-item {
        margin: 0.5rem 0;
    }

    .dropdown-menu {
        background-color: #ffffff;
        border: none;
        width: 100%;
    }

    .navbar-toggler {
        border-color: #007bff;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 123, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}
