{% extends "base.html" %}
{% from "_render_elements.html" import render_field %}
{% block title %}
Đăng Ký
{% endblock %}
{% block content %}
<h1>Đăng Ký</h1>
<form method="post" action="{{ url_for('signup') }}">
    {{ form.csrf_token }}
    {{ render_field(form.username, label="Tên đăng nhập") }}
    {{ render_field(form.email, label="Email") }}
    {{ render_field(form.password, label="Mật khẩu") }}
    {{ form.submit }}
    <a href="/login">Bạn đã có tài khoản? Đăng Nhập</a>
</form>
{% endblock %}
